.jumbotron{
    width: 450px;
    height: 90px;
    background-color: orange;
    text-align:center;
    font-weight: bold;
}
.card{
    width: 550px;
    background:wheat;
}
.display-4{
    font-size: 45px;
    color:white;
}
body{
    background: url("../images/crystal-background.jpg");
    width:100%;
}
.diamond{
    width: 100px;
    height: 100px;
}
.emerald{
    width: 100px;
    height: 100px;
}
.ruby{
    width: 100px;
    height: 100px;
}
.sapphire{
    width: 100px;
    height: 100px;
}
.holder-2{
    background: wheat;
    font-size: 25px;
    text-align:center;
}
.currentScore{
    background: turquoise;
    font-size: 25px;
    text-align:center;
    height:100px;
}
.holder{
    background: turquoise;
    font-size: 25px;
    text-align:center;
    height:100px;
}